.container {
    display: flex;
}

.cardright {
    padding: 2em;
    display: block;
    margin: auto;
}

.btn {
    display: block;

}

// ion-card {
//     min-width: 100%;
// }

ion-card-header img {
    height: 10em;
    border-radius: 5%;
}