.container {
    display: flex;
}

.cardright {
    margin-left: 1em;
    padding: 2em;
    display: block;
    margin: auto;
}

.btn {
    display: block;

}

ion-card {
    display: block;
    margin: auto;
    width: 100%;
}

ion-card-header img {
    height: 10em;
    border-radius: 5%;
}