<ion-header>
  <ion-toolbar>
    <ion-title>Instrument list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let i of instruments">
      <ion-card-header class="container">
        <img src="../../../assets/images/{{i.id}}.jpg" />
        <div  class="cardRight">
          <div>
            <ion-card-subtitle>{{i.brand}}</ion-card-subtitle>
            <ion-card-title>{{i.model}}</ion-card-title>
          </div>
          <div>
            <ion-button (click)="passID(i)" [routerLink]="['/update/']">
              <ion-icon name="create"></ion-icon>
              Modify
            </ion-button>
            <ion-button (click)="removeInstrument(i)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </ion-button>
          </div>
        </div>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>